<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
      <% task.errors.full_messages.each do |message| %>
        <%= js add_gritter(message , title: "ToDoList") %>
      <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label "Description" %>
    <%= f.text_area :description, class: "form-control", rows:3, placeholder: "Whats on your Mind?" %>
  </div>

  <div class="form-group">
    <%= f.label "Due Date" %>
    <%= f.date_field :due_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit",class: "btn btn-primary" %>
  </div>
<% end %>
