<div class="container">

<br><br>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email Id</th>
      <th>URL</th>
      <th>Offerings</th>
    </tr>
  </thead>
  <tbody>
 <% @users.each do |user| %>

  <tr>
    <th scope="row"><%=user.id%></th>
    <% if user.name? %>
    <td> <%= link_to user.name, user_path(user) %> </td>
    <% else %>
    <td> Guest Seller </td>
    <% end %>
    <td>  <%= link_to user.email, user_path(user) %></td>
    <td> <%= link_to user.link, user.link if user.link? %></td>
    <!-- <td> <%= link_to "All Products", "#" ,class: "btn btn-primary" %> </td> -->
    <td> <%= pluralize(user.products.count, 'product') %> </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
